<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<style>
#message1 {height: 200px; background-color: LightGray;}
.law {background-color: Chartreuse;}
.resolution {background-color: AliceBlue;}
.signed {display:block; background-color: Gold;}
</style>

  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/rsvp/rsvp.js"></script>
  <script src="bower_components/geofire/dist/geofire.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Firebase Open Data Sets examples - Weather">
  <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all">

  <title>Your Government - Firebase</title>
</head>

<body>
  <header>
    Your Government - Firebase
  </header>
  <p>
  This is your government in action.  Between 2009 - June 2015 there are approximately 26K Resolutions, 70K Bills, and only approximately 5% have become laws.
  Here is the parade of bills.
  </p>
<button onclick="login();">Login</button>
<button onclick="sort_descending();">Z - A</button>
<button onclick="sort_ascending();">A - Z</button>
  <div id="message1"></div>
  <hr/>
  <div id="list1"></div>

<!--
  <div class="weather-opendata-example">
      <div>
          Select a City:
          <select class="weather-city-selector">

          </select>
      </div>
      <div>
          <p class="weather-display">
              Temperature: <span class="weather-temperature"></span>
          </p>
          <p class="weather-display">
              Summary: <span class="weather-summary"></span>
          </p>
      </div>
  </div>
  -->

  <script>
    /*
     * weather.js
     *
     * powering the weather.html open data example
     */

    /* globals Firebase */

    var weather = {
      ref: undefined,
      $container: undefined,
      $citySelector: undefined,
      $weatherTemperature: undefined,
      $weatherSummary: undefined,
      cities: ["Austin", "Baltimore", "Boston", "Charlotte", "Chicago", "Columbus",
               "Dallas", "Denver", "Detroit", "El Paso", "Fortworth", "Houston",
               "Indianapolis", "Jacksonville", "Las Vegas", "Los Angeles", "Memphis",
               "Milwaukee", "Nashville", "New York", "Oklahoma City", "Philadelphia",
               "Phoenix", "Portland", "San Antonio", "San Diego", "San Francisco",
               "San Jose", "Seattle", "Tucson", "Washington"],
      optionTemplate: _.template("<option value='<%= cityData.toLowerCase().replace(' ', '')%>'><%= cityData %></option>"),

      /*
       * init
       *
       * check for the correct page, then init the module
       */

      init: function() {
        this.$container = $(".weather-opendata-example");

        if (this.$container.length) {
          this.ref = new Firebase('https://nysenate.firebaseio.com');
          this.registerElements();
          this.renderFormOptions();
          this.changeCity();
        }

/* simple test */
/*
Firebase.INTERNAL.forceLongPolling();
var ref = new Firebase("https://nysenate.firebaseio.com/bills");
ref.orderByChild("publishedDateTime").limitToFirst(10).on("child_added", function(snapshot) {

    for (var property in snapshot.val()) {
        console.log('property:' + snapshot.val()[property].publishedDateTime);
    }
})
*/

        var ref = new Firebase("https://nysenate.firebaseio.com/bills");
        // ref.orderByChild("publishedDateTime").limitToLast(100000).on("child_added", function(snapshot) {
        ref.orderByChild("publishedDateTime").limitToLast(100).on("child_added", function(snapshot) {
          //console.log(snapshot.key());
          //console.log(snapshot.val());
          for (var property in snapshot.val()){
            //console.log('property:'+snapshot.val()[property].imgName);
            //console.log(JSON.stringify(snapshot.val()));
            /*
            34,232  IN_ASSEMBLY_COMM
            25,365  ADOPTED
            25,024  IN_SENATE_COMM
            3,337   SENATE_FLOOR
            3,329   SIGNED_BY_GOV
            2,576   ASSEMBLY_FLOOR
            2,453   STRICKEN
            542 VETOED
            65  LOST
            59  PASSED_SENATE
            54  PASSED_ASSEMBLY
            5   INTRODUCED
            1   DELIVERED_TO_GOV
            */
            var style="law";
            if (snapshot.val()[property].resolution){
            style="resolution";
            }
            if (snapshot.val()[property].statusType == "SIGNED_BY_GOV"){
            style +=" signed";
            }
           //console.log( snapshot.key());
           //console.log( property);
           //console.log( property.replace('-','/'));
           $("#message1").html(
           '<span class="'+ style+ '"><img src="http://openleg-dev.nysenate.gov/static/img/business_assets/members/mini/'+snapshot.val()[property].imgName+'">'+
           //snapshot.val()[property].resolution+
           '<b>' + (snapshot.val()[property].resolution?"Resolution":"Bill")+"</b>&nbsp;" + 
           '<a href="'+'http://openleg-dev.nysenate.gov/bills/' + property.replace('-','/') + '?search=&searchPage=1">link</a>' + "&nbsp;" +
           snapshot.val()[property].fullName+"&nbsp;" + 
           snapshot.val()[property].title+"&nbsp;" + 
           snapshot.val()[property].publishedDateTime+"&nbsp;" + 
           snapshot.val()[property].statusType
           );
           if (sort==="ascending"){
           $("#list1").prepend(
           '<span class="'+ style+ '"><img src="http://openleg-dev.nysenate.gov/static/img/business_assets/members/mini/'+snapshot.val()[property].imgName+'">'+
           //snapshot.val()[property].resolution+
           '<b>' + (snapshot.val()[property].resolution?"Resolution":"Bill")+"</b>&nbsp;" + 
           '<a href="'+'http://openleg-dev.nysenate.gov/bills/' + property.replace('-','/') + '?search=&searchPage=1">link</a>' + "&nbsp;" +
           snapshot.val()[property].fullName+"&nbsp;" + 
           snapshot.val()[property].title+"&nbsp;" + 
           snapshot.val()[property].publishedDateTime+"&nbsp;" + 
           snapshot.val()[property].statusType
           + '</span> &mdash;'
           );
           } else {
           $("#list1").append(
           '<span class="'+ style+ '"><img src="http://openleg-dev.nysenate.gov/static/img/business_assets/members/mini/'+snapshot.val()[property].imgName+'">'+
           //snapshot.val()[property].resolution+
           '<b>' + (snapshot.val()[property].resolution?"Resolution":"Bill")+"</b>&nbsp;" + 
           '<a href="'+'http://openleg-dev.nysenate.gov/bills/' + property.replace('-','/') + '?search=&searchPage=1">link</a>' + "&nbsp;" +
           snapshot.val()[property].fullName+"&nbsp;" + 
           snapshot.val()[property].title+"&nbsp;" + 
           snapshot.val()[property].publishedDateTime+"&nbsp;" + 
           snapshot.val()[property].statusType
           + '</span> &mdash;'
           );
           }
          }
          //console.log(snapshot.child('imgName').val());
          //console.log(snapshot.val().imgName);
          //console.log(snapshot.key());
          });
      },

      /*
       * registerElements
       *
       * register the elements used in this example
       */

      registerElements: function() {
        this.$citySelector = $(".weather-city-selector");
        this.$weatherTemperature = $(".weather-temperature");
        this.$weatherSummary = $(".weather-summary");
      },

      /*
       * renderFormOptions
       *
       * generate selector options from city list
       */

      renderFormOptions: function() {
        for (var i = 0; i < this.cities.length; i++) {
          this.$citySelector.append(this.optionTemplate({
            cityData: this.cities[i]
          }));
        }
      },

      /*
       * changeCity
       *
       * set listeners on the city selector and open data set firebase for all the cities
       */

      changeCity: function() {
        var self = this;

        this.$citySelector.change(function() {
          var currentRef;
          var cityValue = self.$citySelector.val();

          // CLEAR REFERENCES TO OTHER CITIES
          if (self.ref) {
            self.ref.off();
          }

          // SET LISTENER ON NEW CITY AND RENDER INFO
          currentRef = self.ref.child(cityValue).child("currently");
          currentRef.on("value", function(s) {
            self.renderCityInfo(s.val());
          });
        });

        self.$citySelector.change();
      },

      /*
       * renderCityInfo
       *
       * render the city temperature in the UI
       */

      renderCityInfo: function(data) {
        this.$weatherTemperature.html(data.apparentTemperature + " &#176;F");
        this.$weatherSummary.html(data.summary);
      }
    };
    var sort="descending";

    function sort_ascending(){
    sort="ascending";
    }
    function sort_descending(){
    sort="descending";
    }
    function login(){
    var ref = new Firebase("https://nysenate.firebaseio.com");

    ref.authWithOAuthRedirect("twitter", function(error) {
        if (error) {
            console.log("Login Failed!", error);
        } else {
            // We'll never get here, as the page will redirect on success.
        }
    });
    /*
    ref.authWithOAuthPopup("twitter", function(error, authData) {
        if (error) {
            console.log("Login Failed!", error);
        } else {
            console.log("Authenticated successfully with payload:", authData);
        }
    });
    */
    }

    $(document).ready(function(){
        //login();
      weather.init();
    });
  </script>

  <style>
    .weather-opendata-example {
      width: 240px;
      margin: 20px auto;
    }

    header {
      text-align: center;
      font-family: proxima-nova,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 16px;
      margin-bottom: 10px;
    }
  </style>
</body>
